body {
    background-color: rgb(185, 236, 230);
}

h2 {
    text-align: center;
    font-weight: 400px;
    font-style: italic;
    font-family: cursive;
    color: red;
    font-size: xx-large;
}

.centre {
    text-align: center;
    border-style: double;
    background-color:lemonchiffon;
    margin-left: 65px;
    margin-right: 65px;
    border-radius: 20px;
    border-color: black;
    border-width: 5px;
    height: 380px
}
  
#result {
    font-style: italic;
}

.navbar {
    height: 30px;
}

.top {
    align-items: center;
}

#textdisplay {
    height: 140px;
}

li {
    margin: 7px;
}

.yourhighscores {
    align-content: center;
    color: rgb(32, 3, 3);
}

h3 {
    text-align: center;
    font-size: x-large;
}

.yourhighscores {
    text-align: center;
}


.timeleft {
    font-size: x-large;
}

#clearhighscores {
    font-size: x-large;
}

#clearhighscores:hover {
    color: brown;
}

.invisrow {
    display:none;
}
/* Media for screen less than 1000px as this is where the header no longer fits correctly at the top of the page*/

@media screen and (max-width: 1000px) {
    body {
      background-color: grey;
    }

    h3 {
        color: white;
        font-size: smaller;
    }

    h4 {
        color: white;
        font-size: small;
    }

    h5 {
        color: white;
        font-size: x-small;
    }

    .navbar{
        height: 50px;
    }

    #clearhighscores {
        font-size: xx-small;
        display: none;
    }

    #clearhighscores:hover {
        color: yellow;
    }
 
    .centre {
        text-align: center;
        border-style: double;
        background-color:lemonchiffon;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        border-color: black;
        border-width: 2px;
        height: 390px
        }

        p {
            font-size: small;
        }

        .col-lg-4 {
            width: 160px
        }

        #yourresults #youranswered #yourinitials {
            color: white;
        }

        .timeleft {
            display: none;
          }

        .invisrow {
            display:inline-block;
            text-align: center;
        }

        .col-lg-6 {
            width: 240px;
        }

    }

      @media screen and (max-width: 500px) {

        .col-lg-4 {
            width: 110px
        
        }

        .centre {
            height: 430px
        }

        #textdisplay {
            height: 190px;
        }
        
        .col-lg-6 {
            width: 150px;
        }
    }